# App
NODE_ENV=
APP_NAME=
PORT=
CLIENT_URL=

# Database
DATABASE=
DATABASE_CLOUD=

# JWT
JWT_SECRET=
JWT_ACCOUNT_ACTIVATION=
JWT_RESET_PASSWORD=

# Google login
GOOGLE_CLIENT_ID=

# Contact form recipients
EMAIL_TO=
EMAIL_FROM=

# CLOUDINARY
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=

# NODEMAILER (Gmail OAuth2)
MAIL_USERNAME=
MAIL_PASSWORD=
OAUTH_CLIENTID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
